body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

.config-container {
    position: absolute;
    right: -100px;
    top: 0;
}

.config {
    margin-top: 20px;
}

.config label {
    color: white;
}

.config input {
    color: #f6931f;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

.config input[type="text"] {
    background: white;
}

.config .dateLabel {
    display: inline-block;
    width: 50px;
}

.config > div {
    font-size: 12px;
    width: 200px;
}
